<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Management Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <header class="header">
      <h1>Waste Management Dashboard</h1>
      <p>Filter and analyze different types of waste over time</p>
    </header>

    <main class="container">
      <!-- Filtros -->
      <section class="filter-section">
        <h2>Filters</h2>
        <label for="residue-type">Residue Type:</label>
        <select id="residue-type">
          <option value="all">All Types</option>
          {% set residue_types = [] %} {% for file in files if
          file.endswith('.png') %} {% set residue_type = file.split('_')[0] %}
          {% if residue_type not in residue_types %}
          <option value="{{ residue_type }}">
            {{ residue_type.capitalize() }}
          </option>
          {% set _ = residue_types.append(residue_type) %} {% endif %} {% endfor
          %}
        </select>

        <label for="start-date">Start Year:</label>
        <select id="start-date">
          <option value="">Any</option>
          {% for year in range(2014, 2025) %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>

        <label for="end-date">End Year:</label>
        <select id="end-date">
          <option value="">Any</option>
          {% for year in range(2014, 2025) %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>

        <!-- Botão para gerar os gráficos -->
        <button id="generate-graphs" class="btn">Generate Graphs</button>
      </section>

      <!-- Imagens dos gráficos -->
      <section class="images-section" id="graphs-container">
        {% for file in files if file.endswith('.png') %}
        <img
          src="{{ url_for('static', filename='Graphs/' + file) }}"
          alt="{{ file.split('_')[0] }}"
          data-year="{{ file.split('_')[1].split('.')[0] }}"
          class="residue-image"
        />
        {% endfor %}
      </section>
    </main>
  </body>
</html>
